ul{
    text-align: center;
    margin: auto;
    padding: 0%;
}
H1{
    text-align: center;
}
ol{
    text-align: center;
    margin: auto;
    padding: 0%;
}
.anime_list{
    text-align: center;
}
a{
    text-align: center;
    color: cornflowerblue;
}